.sidebar {
  position: fixed;
  left: 0;
  top: 65px;
  bottom: 0;
  z-index: 200;
  padding-top: 5px;
  width: 150px;
}
/* 
.sidebar-link {
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
} */

.sidebar-link {
  display: grid;
  grid-template-columns: 25px 86px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  justify-content:space-between;
  align-items: right;
  padding-left: 12px;
}

.sidebar-link:hover {
  background-color: rgb(56, 49, 49);
  border-radius: 5px;
}

.sidebar-link img {
  height: 28px;
  margin-bottom: 6px;
}

.sidebar-link div {
  font-size: 13px;
  margin-top: 6px;
  width: 100%;
}

.seperator {
  height: 1px;
  background-color: rgb(56, 49, 49);
  margin-top: 10px;
  margin-bottom: 10px;
}